
<div class="search" >
    <form action="/search">
        <input type="text"  id="st-search-input" style="width:90px" class="search-query" placeholder="Search Blog" name="q" title="全站搜索-google">
    </form>
</div>

<script>
  (function() {
    var cx = '011452919930789814982:k4pexrhzpec';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
